body {
  background-color:rgb(36, 26, 41);
  color: rgb(131, 255, 179);
  font: 25px "Chiller", Helvetica, Arial, sans-serif;
}

a {
  color: #5ee0e9;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
  background-color: rgb(36, 26, 41);
  outline: rgb(82, 236, 115) solid 3px;
}
	
li {
  list-style: none;
}

.new {
  background-color: rgb(60, 58, 189);
  color: rgb(187, 255, 0);
  font: 25px "Chiller", Helvetica, Arial, sans-serif;
}

#submit {
width: 100px;
border: 1px white;
border-radius: 75%;
}

#input {
width: 300px;
}

#add {
  width: 150px;
  border: 1px white;
  border-radius: 75%;
}